@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

$dark-grayish-blue: hsl(218, 23%, 16%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    font-family: "Manrope", sans-serif;
    font-weight: 800;
    background-color: $dark-grayish-blue;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}